<div class="row">
	<div class="small-10 columns"><%= link_to "發佈新文章", new_post_path, :class => "tiny button" %></div>
	<%= form_tag posts_path, method: :get do %>
		<div class="small-2 columns"><%= text_field_tag :search, params[:search], placeholder: "Search" %></div>
	<% end %>
</div>
<%= render partial: "layouts/flash" %>
<hr/>
<% @post.each do |post| %>
	<div class="post_item"><h3 class="post_title"><%= link_to post.title, post_path(post) %></h3><%= link_to "編輯", edit_post_path(post), :class => "tiny button edit_button" %><%= link_to "刪除", post_path(post), method: :delete, data: {confirm: "是否確定要刪除？"}, :class => "tiny button alert delete_button" %></div>
<% end %>